<template>
    <v-col lg="4" md="4" sm="6" xs="12" class="tablet__col">
        <v-card
            class="mx-auto about__card"
            max-width="310px"
            max-height="480"
            :class="classes"
            @mouseover="hoverOver"
            @mouseout="hoverOut"
        >
            <v-img
                class="white--text align-end"
                height="220px"
                :src='title.src'
            >
            </v-img>

            <v-card-title class="about__title">{{title.title}}</v-card-title>

            <v-card-text class="text--primary">
                <div class="about__text">Lorem ipsum dolor sit amet,</div>
                <div class="about__text">consectetur adipiscing elit, sed</div>
                <div class="about__text">do eiusmod tempor incididunt</div>
                <div class="about__text">ut labore et dolore magna aliqua.</div>
            </v-card-text>

            <v-card-actions>
                <v-btn
                    class="about"
                    color="black"
                    text
                >
                    Подробнее
                </v-btn>

            </v-card-actions>
        </v-card>
    </v-col>
</template>

<script>
export default {
    data: function() {
        return {
            classes: []
        }
    },
    props: {
        title: {
            type: Object,
            required: true
        }
    },
    methods: {
        hoverOver: function() {
        this.classes = 'event__active'
        },
        hoverOut: function() {
        this.classes = []
        },
    }
}
</script>

<style scoped>
    .about {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        border-bottom: 1px solid #E8D3C1;
        margin-top: 40px;
    }
    .about__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 10px;
        color: #333333;
        margin-top: 10px;
    }
    .about__title {
        padding-bottom: 0;
        padding-top: 40px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
    }
    .about__card {
        margin-top: 50px;
    }
    .event__active {
        transition: .5s;
        background: #FAE9DC !important; 
        box-shadow: 0px 4px 4px rgba(123, 123, 123, 0.25) !important;
    }
    @media (min-width: 320px) and (max-width: 599px) {
        .tablet__col {
            display: flex;
            justify-content: center;
        }
    }
</style>