<template>
    <footer>
        <v-container>
            <div class="footer__wrapper">
                <button><div class="icon phone"></div></button>
                <button><div class="icon mail"></div></button>
                <button><div class="icon inst"></div></button>
            </div>
        </v-container>
    </footer>
</template>

<script>
export default {

}
</script>

<style scoped>
    .footer__wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    .icon {
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .phone {
        background-image: url(~@/assets/phone-icon.svg);
    }
    .mail {
        background-image: url(~@/assets/mail-icon.svg);
    }
    .inst {
        background-image: url(~@/assets/inst-icon.svg);
    }
    button {
        outline: none;
    }
</style>