<template>
	<v-toolbar flat class="header">
		<v-container class="header__container">
			<v-toolbar-side-icon pa="0">
				<v-img pa="0" src="@/assets/icon.svg" height="57px" width="90px"> </v-img>
			</v-toolbar-side-icon>
		</v-container>
		<div 
			class="hamburger"
			:class="{hamburger_line_active: isActive}"
            @click="menuClick"
		>
			<span class="hamburger_line"></span>
			<span class="hamburger_line"></span>
			<span class="hamburger_line"></span>
		</div>
			<Menu v-if="isActive"/>
	</v-toolbar>
</template>

<script>
import Menu from "@/components/Menu"
export default {
	data: function() {
        return {
			isActive: false,
            classes: []
        }
	},
	components: {
		Menu
	},
	methods: {
        menuClick: function() {
			this.isActive = !this.isActive;
        },
    }
}
</script>

<style scoped>
	.header {
		position: fixed;
		z-index: 2;
  		top: 0;
		width: 100%;
	}
	.header__container {
		min-height: 70px;
	}
	.hamburger {
		display: block;
		width: 24px;
		height: 18px;
		margin-top: 21px;
		position: absolute;
		z-index: 2;
		left: 76%;
		right: 22%;
		top: 5%;
		bottom: 93%;
		cursor: pointer;
	}
	.hamburger_line {
		display: block;
		height: 2.5px;
		width: 100%;
		background-color: #000 ;
		margin-bottom: 2.5px;
		transition: 0.5s all
	}
	.hamburger_line_active span {
		margin-bottom: -2.5px;
	}
	.hamburger_line_active span:nth-child(1){
		transform: translateY(3px) rotate(-45deg)
	}
	.hamburger_line_active span:nth-child(2) {
		display: none
	}
	.hamburger_line_active span:nth-child(3){
		transform: translateY(3px) rotate(45deg)
	}
</style>