<template>
    <div>
        <section class="menu__section">
            <ul class="menu">
                <li class="menu__item"><a href="#">Главная</a></li>
                <li class="menu__item"><a href="#">Обо мне</a></li>
                <li class="menu__item"><a href="#">Направления</a></li>
                <li class="menu__item"><a href="#">Видео</a></li>
                <li class="menu__item"><a href="#">Контакты</a></li>
            </ul>
            <FooterIcons class="menu__footer"/>
        </section>
        
    </div>
</template>

<script>
import FooterIcons from "@/components/FooterIcons"
export default {
    components: {
        FooterIcons
    }
}
</script>

<style scoped>
    a {
        text-decoration:none;
        color: #333333;
    }
    .menu {
        height: 900px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 150px;
        height: 544px;
    }
    .menu__item {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
    }
    .menu__section {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        min-height: 850px;
        background: #E8D3C1;
        display: flex;
        justify-content: center;
    }
    .menu__footer {
        display: block;
        position: fixed;
        height: 50px;
        width: 100%;
        left: 0px;
        top: 850px;
        background-color: #fff;
    }
    .footer__wrapper {
        height: 38px;
    }
</style>