<template>
    <section class="promo">
        <v-container class="promo__container">
            <div class="promo__descr upper_text">
                TATJANA AGANITS
            </div>
            <div class="promo__descr lower_text">
                LIFESTYLES PHOTOGRAPHER
            </div>
        </v-container>
    </section>
</template>

<style scoped> 
    .promo {
        min-height: 800px;
        background-image: url(~@/assets/promoBG.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .promo__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 38px;
    }
    .promo__descr {
        background: #E8D3C1;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        text-align: center;
    }
    .upper_text {
        min-height: 46px;
        padding: 0 11px;
    }
    .lower_text {
        min-height: 44px;
        padding: 0 14px;
    }

    @media (min-width: 320px) and (max-width: 599px) {
		.promo {
            min-height: 650px;
            background-image: url(~@/assets/promoMobile.png);
            background-position: center;
            background-attachment: unset;
        }
        .promo__descr {
            font-size: 18px;
        }
        .upper_text {
            min-height: 37px;
            padding: 0 4px;
        }
        .lower_text {
            min-height: 37px;
            padding: 0 11px;
        }
	}
    @media (min-width: 600px) and (max-width: 959px) {
		.promo {
            min-height: 750px; 
            background-position: center;
            background-attachment: unset; 
        }
	}
</style>