<template>
    <section class="reasons">
        <v-container>
            <div class="layers ">
                <div class="primary">
                    Привет!<br>
                    Ты оказался на страничке фотографа. Когда дочитаешь до конца,  захочешь со мной познакомиться и оказаться под прицелом моего объектива. Самонадеянно? Пожалуй.
                </div>
                <div class="secondary"></div>
            </div>
            <h2>Но на это есть основания:</h2>
            <div class="stars">
                <div class="wrapper">
                    <div class="star"></div>
                    <div class="reason">
                        5 лет жизни  с фотоаппаратом в руках, которые точно растут не из *опы
                    </div>
                </div>
                <div class="wrapper">
                    <div class="star"></div>
                    <div class="reason">
                        Целый арсенал профессиональной техники. И не с aliexpess 
                    </div>
                </div>
                <div class="wrapper">
                    <div class="star"></div>
                    <div class="reason">
                        Гигабайты фотографий, на которых есть жизнь и настоящие эмоции, а не вымученные позы. 
                    </div>
                </div>
                <div class="wrapper">
                    <div class="star"></div>
                    <div class="reason">
                        Острый взгляд  и бездна вкуса. 
                    </div>
                </div>
            </div>
            <div class="descr__wrapper">
                <h1>Я – ТАНЯ И Я – НЕСТАТИЧНЫЙ ФОТОГРАФ.</h1>
                <div class="descr">
                    Фотографии – это свидетельство того, что мы есть. Фотографии показывают, какие мы.  Моменты  нашей жизни надо  ПРОЖИВАТЬ чувственно и  с чувствами фиксировать.  Поэтому, никаких постановок. У меня – все по-настоящему!
                </div>
            </div>

            <h1 class="directions">Направления</h1>
            <v-row class="direction__wrapper">
                <Directions
                    v-for="item in items"
                    v-bind:key="item.id"
                    v-bind:title="item"
                />  
            </v-row>
        </v-container>
    </section>
</template>

<script>
import Directions from "@/components/Directions"
export default {
    components: {
        Directions
    },
    props: ['items']
}
</script>

<style scoped>
    .reasons {
        min-height: 1210px;
    }
    .layers {
        display: flex;
        justify-content: center;
    }
    .primary {
        position: absolute;
        margin-left: 20px;
        margin-top: 105px;
        padding-top: 35px;
        padding-left: 45px;
        font-family: Montserrat;
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        width: 895px;
        height: 125px;
        background: #FFFFFF;
        box-shadow: 2px 4px 4px rgba(186, 186, 186, 0.25);
    }
    .secondary {
        margin-top: 85px;
        width: 895px;
        height: 125px;
        background: #E8D3C1;
    }
    h2 {
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        margin-top: 35px;
    }
    .stars {
        margin-top: 3px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper {
        width: 213px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .star {
        height: 30px;
        width: 30px;
        background-image: url(~@/assets/star.svg);
    }
    .reason {
        text-align: center;
        margin-top: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
    .descr__wrapper {
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .descr__wrapper h1 {
        text-align: center;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #919191;
    }
    .descr {
        margin-top: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
    }
    .directions {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        margin-top: 60px;
        text-align: center;
        margin-top: 60px;
    }
    @media (min-width: 320px) and (max-width: 599px) {
		.primary {
            height: 130px;
            width: 270px;
            margin-top: 117px;
            padding-left: 25px;
            padding-top: 15px;
            margin-left: 0px;
        }
        .secondary {
            height: 120px;
            width: 260px;
            margin-top: 100px;
            margin-right: 30px;
        }
        h2 {
            margin-top: 40px;
        }
        .stars {
            margin: 5px 0 0 0;
            flex-direction: column;
            align-items: center;
        }
        .star {
            margin-top: 10px;
        }
        .reason {
            margin-top: 10px;
        }
        .direction__wrapper {
            justify-content: center;
        }
	}
    @media (min-width: 600px) and (max-width: 959px) {
		.primary {
            height: 170px;
            width: 370px;
        }
        .secondary {
            height: 150px;
            width: 350px;
            margin-top: 85px;
        }
        
        h2 {
            margin-top: 60px;
        }
	}

</style>