<template>
  <v-col lg="4" md="5" sm="7" xs="12" class="tablet__flex">
        <v-card
            class="mx-auto"
            max-width="340"
            :class="classes"
            @mouseover="hoverOver"
            @mouseout="hoverOut"
        >
            <video
                controls
                autoplay
                muted
                :src="card.link"
                height="189"
                width="340"
            >
            </video>
            <v-card-subtitle class="card__sub">{{card.title}}</v-card-subtitle>
            <v-card-text class="card__text">
                <div>{{card.text}}</div>
                <div>{{card.txt}}</div>
            </v-card-text>
        </v-card>
    </v-col>
</template>

<script>
export default {
    data: function() {
        return {
            classes: []
        }
    },
    props: {
       card: {
           type: Object,
           required: true
       }
    },
    methods: {
        hoverOver: function() {
        this.classes = 'event__active'
        },
        hoverOut: function() {
        this.classes = []
        },
    }
}
</script>

<style scoped>
    .event__active {
        transition: .5s;
        background: #FAE9DC !important; 
        box-shadow: 0px 4px 4px rgba(123, 123, 123, 0.25) !important;
    }
    .card__sub {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        margin-top: 20px;
    }
    .card__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        margin-top: 5px;
    }
    @media (min-width: 320px) and (max-width: 599px) {
        .tablet__flex {
            display: flex;
            justify-content: center;
        }
    }
    @media (min-width: 600px) and (max-width: 959px) {
        .tablet__flex {
            display: flex;
            justify-content: center;
        }
    }
</style>