<template>
    <section class="video">
        <v-container>
            <h1>Видео</h1>
            <v-row class="video__wrapper">
                <VideoCards
                    v-for="el in cards"
                    v-bind:key="el.id"
                    v-bind:card="el"
                />
            </v-row>
        </v-container>
        <div class="wrapper">
            <div class="rights">© 2020 Все права защищены</div>
        </div>
        <FooterIcons class="hidden"/>
    </section>
</template>

<script>
import FooterIcons from '@/components/FooterIcons'
import VideoCards from '@/components/VideoCards'
export default {
    components: {
        VideoCards,
        FooterIcons
    },
    props: ['cards']
}
</script>

<style scoped>
    .video {
        background: #E8D3C1;
    }
    h1 {
        text-align: center;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin-top: 50px;
    }
    .video__wrapper {
        margin-top: 36px;
    }
    .wrapper {
        height: 90px;
        background: #FFFFFF;
    }
    .rights {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        padding-top: 38px;
    }
    .footer__wrapper {
        height: 38px;
    }
    @media (min-width: 320px) and (max-width: 599px) {
        .video__wrapper{
            justify-content: center;
        }
        .wrapper {
            background: #E8D3C1;
            height: auto;
        }
        .hidden {
            display: block;
            position: fixed;
            height: 50px;
            width: 100%;
            left: 0px;
            bottom: 0px;
            background-color: #fff;
        }
    }
    @media (min-width: 600px) and (max-width: 959px) {
        .video__wrapper{
            justify-content: center;
        }
        .wrapper {
            background: #E8D3C1;
            height: auto;
            margin-bottom: 18px;
        }
        .hidden {
            display: block;
            position: fixed;
            height: 50px;
            width: 100%;
            left: 0px;
            bottom: 0px;
            background-color: #fff;
        }
    }
    @media (min-width: 960px) and (max-width: 1263px) {
        .wrapper {
            background: #E8D3C1;
            height: auto;
            margin-bottom: 18px;
        }
        .hidden {
            display: block;
            position: fixed;
            height: 50px;
            width: 100%;
            left: 0px;
            bottom: 0px;
            background-color: #fff;
        }
    }
    @media (min-width: 1264px) {
        .hidden {
            display: none;
        }
        .video__wrapper {
            margin-bottom: 58px;
        }
    }
</style>
