<template>
	<div>
		<Header/>
		<Promo/>
		<Reasons
			v-bind:items="directions"
		/>
		<Video
			v-bind:cards="videoCards"
		/>
		
	</div>
</template>

<script>
import Header from "@/components/Header";
import Promo from "@/components/Promo";
import Reasons from "@/components/Reasons";
import Video from "@/components/Video";
export default {
	name: 'app',
	components: {
		Header,
		Promo,
		Reasons,
		Video,
	},
	data() {
		return {
			directions: [
				{id:1, title: 'Lifestyle', src:"/image/lifestyle.svg"},
				{id:2, title: 'Портрет', src:"/image/portrait.svg"},
				{id:3, title: 'Семейная фотосессия', src:"/image/portrait.svg"}
			],
			videoCards: [
				{id: 4, title: 'Со мной актуально', text: 'Репортажная съемка –  всегда на пике', txt: 'событий.', link: "/video/countdown.mp4"},
				{id: 5, title: 'Со мной выгодно', text: 'Промо-ролик – сделаем рекламу ваших', txt: 'продуктов/услуг на зависть всем.', link: "/video/countdown.mp4"},
				{id: 6, title: 'Со мной весело', text: 'Вайны – юмор спасет мир!  Вместе', txt: 'снимаем, я монтирую, все смеются.', link: "/video/countdown.mp4"}
			]
		}
	}
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:wght@400;500;700&display=swap');
</style>
